@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Nunito:wght@400;500;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-disabled {
    @apply bg-grey-lighter cursor-not-allowed rounded-lg text-grey;
    transition: transform linear;

    &:focus {
      @apply outline-black bg-grey-lighter;
    }

    &:hover {
      @apply bg-grey-lighter outline-none;
      transform: scale(1.01);
    }
  }

  .btn-primary {
    @apply bg-primary font-bold text-grey-lighter text-16 rounded-lg duration-300;
    transition: transform linear;

    &:disabled,
    &.disabled {
      @apply btn-disabled;
    }

    &:focus,
    &:hover {
      @apply bg-primary-light outline-none;
      transform: scale(1.01);
    }
  }

  .stattravel .btn-primary {
    @apply rounded-3xl tracking-[1px];

    &:focus,
    &:hover {
      @apply bg-primary;
    }
  }

  .btn-secondary {
    @apply bg-secondary font-bold text-grey-lighter text-16 rounded-lg duration-300;
    transition: transform linear;

    &:disabled,
    &.disabled {
      @apply btn-disabled;
    }

    &:focus,
    &:hover {
      @apply bg-secondary-light outline-none;
      transform: scale(1.01);
    }
  }

  .stattravel .btn-secondary {
    @apply bg-primary rounded-3xl px-32;
  }

  .btn-primary-outline {
    @apply border border-primary font-bold text-16 text-primary rounded-lg duration-300 flex items-center;
    transition: transform linear;

    &:disabled,
    &.disabled {
      @apply btn-disabled border-none;
    }

    &:focus,
    &:hover {
      @apply text-primary-light;
      transform: scale(1.01);
    }
  }

  .stattravel .btn-primary-outline {
    @apply rounded-3xl border-2 w-auto py-16 px-28 flex items-center;

    &:focus,
    &:hover {
      @apply text-primary;
    }
  }

  .btn-secondary-outline {
    @apply border border-secondary font-bold text-16 text-secondary rounded-lg duration-300;
    transition: transform linear;

    &:disabled,
    &.disabled {
      @apply btn-disabled border-none;
    }

    &:focus,
    &:hover {
      @apply text-secondary-light;
      transform: scale(1.01);
    }
  }

  .btn-gray-outline {
    @apply border border-[#DDE2E4] text-14 text-[#252C32] rounded-lg duration-300;
    transition: transform linear;

    &:disabled,
    &.disabled {
      @apply btn-disabled border-none;
    }

    &:focus,
    &:hover {
      @apply text-[#252C32];
      transform: scale(1.01);
    }
  }

  .step-title {
    @apply mb-40 md:mb-48 font-bold text-22 text-primary font-secondary;
  }

  .stattravel .step-title {
    @apply text-28;
  }
}
